<!-- Problems with the current page inlude,
1. Dimensions smallest the icon is too large and too much space between buttons
2. when the dimensions are too small the buttons are not long enough
    and not enought space.
3. 768 x 1024 need more space b/t icon and buttons
4. 980 x 1280 buttons have too much width
5. 19280 X 900 buttons are not far enough down in horizontal
6. -->

<html class="text-center">
<body class="freebee-background text-center">
<div class="panel-heading freebee-panel">
     <%= image_tag("freebeeiconfinal.png", :class => "freebee-homepage-icon") %>
</div>
<div class = "freebee-homepage-btn-icon-seperator">
  <button type="button" class="btn freebee-btn-primary btn-lg">
    Business
  </button>
  <button type="button" class="btn freebee-btn-primary btn-lg ">
    HungryBee
  </button>
</div>
</body>
</html>
