

<html class="text-center">
<body class="freebee-background text-center">
<div class="panel-heading freebee-panel">
     <%= image_tag("freebeeiconfinal.png", :class => "freebee-homepage-icon") %>
</div>
<div class = "freebee-homepage-btn-icon-seperator">
  <button type="button" class="btn freebee-btn-primary btn-lg">
    Business
  </button>
  <button type="button" class="btn freebee-btn-primary btn-lg ">
    HungryBee
  </button>
</div>
</body>
</html>
