

<html class="text-center">
<body class="freebee-background text-center">
<div class="panel-heading freebee-panel">
     <%= image_tag("freebeeiconfinal.png", :class => "freebee-homepage-icon") %>
</div>
<div class = "freebee-homepage-btn-icon-seperator">

  <%= link_to "Business", business_signup_path, class: "btn
                            freebee-btn-primary-homepage btn-lg" %>
  <%= link_to "HungryBee", hungrybee_signup_path, class: "btn
                            freebee-btn-primary-homepage btn-lg" %>
</div>
</body>
</html>
