<html class="text-center">
<body class="freebee-background text-center">
<div class="panel-heading freebee-panel">
     <%= image_tag("freebeeiconfinal.png", :class => "freebee-icon") %>
</div>
<div>
  <button type="button" class="btn freebee-btn-primary btn-lg">
    Business
  </button>
  <button type="button" class="btn freebee-btn-primary btn-lg ">
    HungryBee
  </button>
</div>

</body>
</html>
