@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

.freebee-panel {
  padding-bottom: 0 !important;
}
.freebee-btn-group{
    margin-top: 30vh;
}

.freebee-homepage-icon {
    margin-top: 5vh;
    margin-bottom: auto;

    height: 310px;


    max-width: 90%;
    max-height: 35vh;
}

.freebee-homepage-btn-icon-seperator {
    margin-top: 25vh
}



.freebee-background{
    background-color:  rgb(255,253,167) ;
}
.freebee-btn-primary{
    color: #ffffff;
    background-color:  rgb(49,49,49);
    border-color: rgb(49,49,49);
    width: 300px;
    max-width: 90%;
    line-height: 5vh !important;
}

.freebee-btn-primary-homepage{
    color: #ffffff;
    background-color:  rgb(49,49,49);
    border-color: rgb(49,49,49);
    margin: 4%;
    width: 300px;
    max-width: 90%;
    line-height: 5vh !important;
}

.freebee-btn-primary:hover,
.freebee-btn-primary:focus,
.freebee-btn-primary:active
.freebee-btn-primary.active{
    color: white !important;
    background-color: black;

}




/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
@include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
@include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;

    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

